:root{
    --light-blue: #e6e6fa;
    --blue: #aeaed4;
    --dark-blue: #191970;
}


body{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-family: Arial, Verdana, sans-serif;
}

header{
    background-color: var(--dark-blue);
    color: white;
}

h1{
    line-height: 200%;
    text-align: center;
    text-shadow: 3px 3px 5px #CCCCCC;
}

h2{
    background-color: var(--blue);
    text-align: center;
}

nav{
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: .5em;
}